* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: white;
    padding: 20px 25px;
    width: 350px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: rgb(70, 70, 70);
}

.task-input {
    display: flex;
    margin-bottom: 20px;
}

.task-input input {
    width: 100%;
    padding: 8px;
    border: 1px solid gray;
    border-radius: 5px;
    outline: none;
}

.task-input button {
    padding: 8px 15px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
}

#taskList {
    list-style: none;
}

.task {
    padding: 10px;
    background: #fafafa;
    border: 1px solid #ddd;
    border-radius: 6px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task.completed {
    text-decoration: line-through;
    color: gray;
    opacity: 0.7;
}


.delete-btn {
    background: red;
    border: none;
    padding: 5px 8px;
    color: white;
    font-size: 12px;
    border-radius: 4px;
    cursor: pointer;
}
